window {
    background-image: url("img/background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    color: red;
    font-size: 2em;

}
button{
	color: blue;
	border: 1px solid blue;
}
button:hover{
	color: red;
	border: 1px solid red;
}
